.book_demo {
    background-image: url("/image/book_demo/book_a_demo_today.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.book_demo_title {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; /* 112.5% */
    padding-top: 90px;
    padding-bottom: 35px;
}
.book_demo_title_mini_form {
    justify-content: center;
    display: flex;
    padding-bottom: 100px;
}
.book_demo_email {
    border-radius: 27.5px 0px 0px 27.5px;
    background: #FFF;
    padding: 13px 100px 13px 20px;
    margin: 0;
}
.book_demo_email_post {
    padding: 13px 45px;
    border-radius: 0px 27.5px 27.5px 0px;
    background: #6F2CFF;
    margin: 0;
}