.Commerce_ai_title {
    margin: 100px auto 20px auto;
   text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: #000000;
}
.Commerce_ai_subtitle {
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}
.Commerce_ai_info {
    display: flex;
    justify-content: space-between;
}
.Commerce_ai_block {
    text-align: center;
    margin-bottom: 90px;
}
.Commerce_ai_img {
    margin-bottom: 40px;
}
.Commerce_ai_block_title {
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}
.Commerce_ai_block_text {
    font-family: 'Roboto';
    font-style: normal;
    max-width: 350px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

